<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ @title }}</title>
</head>
<body>
    <h1>{{ @title }}</h1>
    <p>User logged in as {{ @username }} using {{ @password }}</p>
    <p>I like the color {{ @color }}</p>

    <h3>Fruits</h3>
    <ul>
        <repeat group="{{ @fruits }}" value="{{ @fruit }}">
            <li>{{ @fruit }}</li>
        </repeat>
    </ul>

    <h3>Dessert Options</h3>
        <repeat group="{{ @desserts }}" key="{{ @key }}" value="{{ @value }}">
            <checkbox value="{{ @key }}">{{ @value }}</checkbox>
        </repeat>

    <h3>Colors</h3>
    <repeat group="{{ @colors }}" value="{{ @color }}">

        <label><input type="radio" name="fav_language" value="{{ @color }}">{{ @color }}</label><br>

    </repeat>

</body>
</html>